#titoli {
        color: orange;
}

#centro {
    text-align: center;
}

.immagine {
    width: 250px;
    height: 250px;
}

header {
    background-color:gainsboro;
}

hr {
    border-color: orange;
    background-color: orange;
}