#titoli {
        color: orange;
}

#centro {
    text-align: center;
}

.immagine {
    width: 250px;
    height: 250px;
    margin-left:auto;
    margin-right: auto;
    display: block;
}

header {
    background-color:gainsboro;
}

hr {
    border-color: orange;
    background-color: orange;
}